<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/assets/favicon.svg">
    <link rel="stylesheet" href="/assets/base.css"/>
    <link rel="stylesheet" as="style" crossorigin="" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <style>
        :root {
            --font-body-family: 'Pretendard', sans-serif;
            --font-body-style: normal;
            --font-body-weight: 400;
            --font-heading-family: 'Pretendard', sans-serif;
            --font-heading-style: normal;
            --font-heading-weight: 700;
            --page-width: 1196px;
        }
    </style>
    <script src="/assets/global.js" defer="defer"></script>
    <script type="module" src="/assets/template.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    <!-- Global -->
    <div data-section="announcement-bar" class="large-up-hide"></div>
    <header data-section="header"></header>
    <!-- // Global -->
    
    <main>
        <section data-section="main-slider"></section>
    </main>

    <!-- Global -->
    <footer data-section="footer"></footer>
    <!-- // Global -->
</body>
</html> 