/** Text Banner **/
.text-banner__content > a {
    position: relative;
    height: 80px;
    border-radius: 12px;
    overflow: hidden;
    background: url(/theme/assets/banner-02.png) no-repeat center center / cover;
    display: flex;
    align-items: center;
    padding: 0 32px;
    font-size: 16px;
    font-weight: 900;
    color: #000;
}
.text-banner__content > a > img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media (min-width: 990px) {
    .text-banner__content > a {
        height: 150px;
        padding: 0 62px;
        font-size: 28.8px;
    }
}


/** Image Banner **/
section[data-section="image-banner"] {
    margin-top: 40px;
}
.image-banner__content > a {
    position: relative;
    padding-bottom: 80px;
    border-radius: 12px;
    overflow: hidden;
    display: block;
}
.image-banner__content > a > img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media (min-width: 990px) {
    .image-banner__content > a {
        padding-bottom: 150px;
    }
}