.tab-container {
    background: rgba(236, 238, 241, 0.60);
    border-radius: 12px;
    padding: 20px 20px 10px;
}
.tab-list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.tab-item__link {
    font-size: 16px;
    font-weight: 700;
    position: relative;
}
.tab-item__link.active::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 8px;
    opacity: 0.6;
    background: #A995D8;
    z-index: -1;
}
.tab-body {
    margin-top: 16px;
}
.tab-body__item {
    border-top: 1px solid rgba(35, 30, 30, 0.10);
}
.tab-body__link {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.tab-body__category {
    flex-basis: 70px;
    color: #423067;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab-body__title {
    flex-grow: 1;
    color: #231E1E;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    max-width: calc(100% - 80px - 82px);
}
.tab-body__title-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab-body__title-count {
    margin-left: 2px;
    color: rgba(35, 30, 30, 0.40);
    font-size: 14px;
    font-weight: 500;
}
.tab-body__date {
    color: rgba(35, 30, 30, 0.60);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-basis: 72px;
    justify-content: flex-end;
}
.normal-board {
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
    padding: 20px 20px 10px;
}
.normal-board__title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}
.normal-board__body {
    margin-top: 16px;
}
.normal-board__item {
    border-top: 1px solid rgba(35, 30, 30, 0.10);
}
.normal-board__link {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.normal-board__number {
    font-size: 14px;
    font-weight: 700;
    flex-basis: 20px;
}
.normal-board__wrap {
    flex-grow: 1;
    color: #231E1E;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    max-width: calc(100% - 30px);
}
.normal-board__title-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.normal-board__title-count {
    margin-left: 2px;
    color: rgba(35, 30, 30, 0.40);
    font-size: 14px;
    font-weight: 500;    
}
@media (min-width: 990px) {
    div[data-section="featured-board"] {
        display: flex;
        gap: 20px;
    }
    div[data-section="featured-board"] > main-tab {
        width: calc(60% - 10px);
    }
    .normal-board {
        width: calc(40% - 10px);
        margin-top: 0;
    }
}